.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

@media(min-width:850px){
  .robleds_select {
    transform: rotate(90deg);
    right: -125px;
    top: 125px;
    position: absolute;
  }
}

.table_robleds {
  border-collapse: collapse;
  width:100%;
  outline-style:solid;
  outline-width:1px;
}
table.table_robleds th {
  border: 1px solid;
  text-align:center;
}

table.table_robleds td {
  border: 1px solid;
  border-bottom-color:white;
}

table.table_robleds td.border_right, table.table_robleds th.border_right {
  border-right:2px solid black;
}

tr.border_bottom td, tr.border_bottom th {
  border-bottom-color:black;
}

/* Sidebar navigation */
/*
.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
*/

/* Moved to the div in the main htm */
/*.main {
  padding: 20px;
}*/

/* For a title in the main content space */
/*
.main .page-header {
  margin-top: 0;
}*/

