<!-- CONTENT HTML CODE -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-xs-2 col-sm-2 sidebar">
      <div class="alert alert-info" role="alert">
        State: <span id="run_state"></span><p><p>
        Run number: <span id="run_number"></span><p><p>
        Run type: <span id="run_type"></span><p><p>
        Beam mode: <span id="beam_mode"></span><p><p>
        Part Key: <span id="part_key"></span><p><p>
        Config Key: <span id="config_key"></span><p><p>
      </div>
      <div class="alert alert-info" role="alert">
        Events: <span id="num_events"></span><p><p>
        Rate: <span id="L1Arate"></span> Hz<p><p>
        Backpressure/FED : <span id="backpressures"></span> %<p><p>
        Event size: <span id="ev_size"></span> kB<p><p>
        &nbsp;&nbsp;&nbsp;(recent): <span id="ev_size_recent"></span> kB<p><p>
        Ev. size/FED: <span id="ev_sizes"></span> kB<p><p>
        &nbsp;&nbsp;&nbsp;(recent): <span id="ev_sizes_recent"></span> kB<p><p>
      </div>
      <div id="warnBox" class="alert alert-danger" role="alert" style="display:none;"></div>
      <!--ul class="nav nav-sidebar">
        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Reports</a></li>
      </ul-->
    </div>
    <div class="col-md-10 col-md-offset-2 col-xs-10 col-xs-offset-2 col-sm-10 col-sm-offset-2">
      <!--h1 class="page-header">Here comes the...</h1-->
      <div id="crateleds"></div>
      <p>
      <div id="robleds"></div>
      <p><p>

      <div class="form-inline">
        <select id="sel0" class="form-control" style="width:200px" onchange="newSelection(0)" disabled>
          <option style="display:none"></option>
        </select>
        <select id="sel1" class="form-control" style="width:200px" onchange="newSelection(1)" disabled>
          <option style="display:none"></option>
        </select>
        <select id="sel2" class="form-control" style="width:200px" onchange="newSelection(2)" disabled>
          <option style="display:none"></option>
        </select>
        <select id="sel3" class="form-control" style="width:200px" onchange="newSelection(3)" disabled>
          <option style="display:none"></option>
        </select>
      </div>
      <p>

      <div id="reglist"></div>
      
    </div>
  </div>
</div>

<!-- MUSTACHE TEMPLATES -->

<script id="templ_reglist" type="x-tmpl-mustache">

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title" id="reglist_title">{{id}}{{#map}}<span style="padding-left:5em">&rarr; {{map.str}}</span>{{/map}}</h4>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <td><strong>Metric ID</strong></td>
        <td><strong>Value</strong></td>
        <td><strong>Error Condition</strong></td>
        <td><strong>Warning Condition</strong></td>
        {{#doMap}}<td><strong>Map</strong></td>{{/doMap}}
      </tr>{{#subs}}
      <tr>
        <td><span class="glyphicon glyphicon-stop" id="led{{unid}}"  style="font-size:1.25em;"></span> {{id}}</td>
        <td id="value{{unid}}"></td>
        <td>{{errtxt}}</td>
        <td>{{warntxt}}</td>
        {{#doMap}}<td>{{map}}</td>{{/doMap}}
      </tr>
    {{/subs}}</table>
  </div>
</div>

</script>


<script id="templ_crateleds" type="x-tmpl-mustache">
<div class="row">
  {{#subs}}<div class="col-md-4 col-xs-4 col-sm-4">
    {{id}}
    <table style="border-collapse: separate; border-spacing: 3px; border: 1px solid black;">
      <tr>{{#subs}}
        <td style="border: 1px solid black;" width="20">
          <table style="width:100%; border-collapse: separate; border-spacing: 1px;">
            {{#subs}}
            <tr><td id="diag{{unid}}" style="background-color: silver;" height="15" title="{{id}}&#13;[N/A]" onClick="showReg('{{unid}}')">&nbsp;</td></tr>
            {{/subs}}
          </table>
        </td>
      {{/subs}}</tr>
    </table>
  </div>{{/subs}}
</div>
</script>

<script id="templ_robleds" type="x-tmpl-mustache">
<div style="position: relative; padding-right:30px;">

  <div class="robleds_select">
    <select id="sel_rob" class="form-control" style="width:250px;" onchange="updateDiagrams()">
      <option value='EW'>Errors & Warnings</option>
      <option value='ELR'>Events Lost (log 1E-4~1)</option>
      <option value='ELRR'>Event Lost Recent (log 1E-4~1)</option>
      <option value='ELRM'>Event Lost Mix (log 1E-4~1)</option>
      <option value='HITS'>Hits delivered (log, wire-norm)</option>
      <option value='HITSR'>Hits delivered Recent (log, wire-norm)</option>
      <option value='HITSM' selected="selected">Hits delivered Mix (log, wire-norm)</option>
    </select>
  </div>
  
  <table class="table_robleds">
    <tr class="border_bottom">
      {{#wh}}<th colspan="14" class="border_right">YB{{n}}</th>{{/wh}}
    </tr>
    <tr style="font-size:8px" class="border_bottom">
      {{#wh}}{{#sec}}<td{{#br}} class="border_right"{{/br}}>{{n}}</td>{{/sec}}{{/wh}}
    </tr>
    {{#rows}}<tr{{#drawLine}} class="border_bottom"{{/drawLine}}>
      {{#cells}}
      <td{{#unid}} id="diag{{unid}}"{{/unid}} style="background-color: silver;" height="10" onClick="showReg('{{unid}}')"{{#br}} class="border_right"{{/br}}></td>
      {{/cells}}
    </tr>{{/rows}}
  </table>
</div>
</script>