<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    
    <link rel="stylesheet" href="ext/css/bootstrap.min.css"><!--https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/-->
    <link rel="stylesheet" href="uros.css">
    
    <script src="ext/js/jquery.min.js"></script><!--https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/-->
    <script src="ext/js/bootstrap.min.js"></script><!--https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/-->
    <script src="ext/js/mustache.min.js"></script><!--https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/-->
    <script src="uros.js"></script>
</head>

<body onload="loadLiveContent()">

<!--NAVIGATION BAR: connects to the server, fetches code and data for the content area -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div>
      <p class="navbar-brand">uROS</p>

      <button id="statusMessage" class="navbar-btn btn"></button>
      
      <button id="alarmBtn" class="navbar-btn btn btn-danger blink_me" style="display:none;" data-toggle="modal" data-target="#alarmBox">ALARM!</button>

      <button class="navbar-right navbar-btn btn btn-primary navbar-right" onclick="loadLiveContent()">Go live</button>

      <button class="navbar-right navbar-btn btn btn-primary navbar-right" onclick="runSelector()">Run Selector</button>

      <div class="navbar-form navbar-right">
        <div class="input-group" id="tsForm" style="display:none;">
          <span class="input-group-btn"><button class="btn btn-default" onclick="getSnapshot(-1)"><span class="glyphicon glyphicon-chevron-left"></button></span>
          <input type="range" min="0" class="slider" id="tsRange" onchange="getSnapshot(0)" style="width:300px;">
          <span class="input-group-btn"><button class="btn btn-default" onclick="getSnapshot(1)"><span class="glyphicon glyphicon-chevron-right"></button></span>
        </div>
      </div>
      

    </div>
  </div>
</nav>

<!-- Alarm Box -->
<div id="alarmBox" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Alarm!</h4>
      </div>
      <div id="alarmContent" class="modal-body" style="white-space: pre-wrap;"></div>
    </div>
  </div>
</div>


<script id="templ_runSelect" type="x-tmpl-mustache"><div></div>
  <div class="form-inline">
    <label for="runInput">Load run #</label>
    <div class="input-group">
      <input id="runInput" type="number" class="form-control" size="7">
      <span class="input-group-btn"><button type="button" class="btn btn-default" onclick="getRun('runInput');"><span class="glyphicon glyphicon-play"/></button></span>
    </div>
  </div><p>

  <div class="form-inline">
    <label for="dateInput">List runs for day </label>
    <div class="input-group">
      <input id="dateInput" type="date" class="form-control" size="9" onchange="updateRunList()">
      <span class="input-group-btn"><button type="button" class="btn btn-default" onclick="updateRunList()"><span class="glyphicon glyphicon-refresh"/></button></span>
    </div>
  </div><p>
  
  <div id="runSelectBox"></div>
</script>

<script id="templ_runList" type="x-tmpl-mustache"><div></div>
  <div class="list-group">
  {{#runs}}
    <button type="button" class="list-group-item" value="{{number}}"onclick="getRun(this.value)">{{number}}</li>
  {{/runs}}
  </div>
</script>



<!-- CONTENT AREA: the system information, either live or past -->

<div id="content" class="main"></div>


</body>
</html>
