/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.main {
  padding: 20px;
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  }

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  to { opacity: 0.5; }
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 34px;
    border-radius: 0px;  
    background: #ffffff;
    outline: none;
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #428bca;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #428bca;
    cursor: pointer;
    outline: none;
}